@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/roboto-light-webfont.eot');
    src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-light-webfont.woff') format('woff'),
         url('fonts/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-regular-webfont.woff') format('woff'),
         url('fonts/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoThin';
    src: url('fonts/roboto-thin-webfont.eot');
    src: url('fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-thin-webfont.woff') format('woff'),
         url('fonts/roboto-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  padding-left: 25px;
  border-top: 5px solid #0099cc;
}

body {
  font-family: 'RobotoLight', sans-serif;
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #666;
  background: url(img/bright_squares.png);
}

header {
  margin: 70px auto 0px auto;
  font-weight: 300;
  width: 624px;
  display: block;
  text-align: center;
}

header img {
  float: left;
  height: 100px;
  border: 2px solid #ddd;
  -moz-box-shadow: 2px 2px 20px 1px #999;
  -webkit-box-shadow: 2px 2px 20px 1px #999;
  box-shadow: 2px 2px 20px 1px #999;
}

footer {
  margin: 10px auto 0px auto;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  width: 624px;
  text-align: center;
  color: #999;
}

h1 {
  color: #0099cc;
  font-size: 60px;
  line-height: 64px;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 10px;
}

h3 {
  font-family: 'RobotoLight';
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 10px;
}

article {
  width: 600px;
  line-height: 20px;
  font-weight: 300;
  background-color: #fff;
  border: 2px solid #ddd;
  padding: 10px;
  margin: 20px auto 0px auto;
  -moz-box-shadow: 2px 2px 20px 1px #999;
  -webkit-box-shadow: 2px 2px 20px 1px #999;
  box-shadow: 2px 2px 20px 1px #999;
  background: url(img/bg.png) no-repeat #fff;
}

nav {
  display: block;
  width: 624px;
  margin: -12px 20px 0px -12px;
}

address {
  display: none;
}

p {
  padding: 25px 0px 0px 0px;
}

a {
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
  color: #0099cc;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #33b5e5;
  text-decoration: underline;
}


.linkblink {
  display: block;
  width: 104px;
  padding: 0px;
  margin: 0px;
  float: left;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  height: 2px;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

.linkblink span {
	filter: alpha(opacity=0);
	opacity: 0;
	display: block;
  -webkit-transition: all 0.75s linear;
  -moz-transition: all 0.75s linear;
  -ms-transition: all 0.75s linear;
  -o-transition: all 0.75s linear;
  transition: all 0.75s linear;
}

.linkblink:hover {
  height: 20px;
  color: #fff;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  text-decoration: none;
}

.linkblink:hover span {
	filter: alpha(opacity=100);
	opacity: 1;
}

.blog {
  background-color: #000;
}
.twitter {
  background-color: #a9eaed;
}
.gplus {
  background-color: #db3030;
}
.linkedin {
  background-color: #3a8db5;
}
.myvCard {
  background-color: #afd92f;
}
.myEmail {
  background-color: #e41010;
}

section form#contact, #thankyou {
  position: fixed;
  top: 0px;
  right: -335px;
  width: 325px;
  -webkit-transition: all 0.75s linear;
  -moz-transition: all 0.75s linear;
  -ms-transition: all 0.75s linear;
  -o-transition: all 0.75s linear;
  transition: all 0.75s linear;
  background-color: #0099cc;
  padding-left: 10px;
  color: #fff;
  -webkit-border-radius: 0px 0px 0px 10px;  
  -moz-border-radius: 0px 0px 0px 10px;  
  border-radius: 0px 0px 0px 10px;  
  font-size: 15px;
  font-weight: 400;
  min-height: 350px;
}

#thankyou {
  text-align: center;
  display: none;
}

div#contacttext {
  position: fixed;
  /*background-color: #0099cc;*/
  width: 25px;
  height: 100px;
  top: 20px;
  right: -5px;
  font-weight: 400;
  color: #fff;
  margin: 4px;
  text-transform: uppercase;
  -webkit-transition: all 0.75s linear;
  -moz-transition: all 0.75s linear;
  -ms-transition: all 0.75s linear;
  -o-transition: all 0.75s linear;
  transition: all 0.75s linear;

}

section#contact-form:hover div#contacttext {
  right: 330px;
}

section#contact-form:hover form#contact, section#contact-form:hover #thankyou {
  right: 0px;
}

section#contact-form {
  background-color: #0099cc;
}

input, textarea {
  padding: 5px;  
  font-size: 12px;  
  text-shadow: 0px 1px 0px #fff;  
  outline: none;  
  border: none;
  background-color: #fff;
  -webkit-border-radius: 3px;  
  -moz-border-radius: 3px;  
  border-radius: 3px;  
  -webkit-box-shadow: 0px -1px 0px #ccc;  
  -moz-box-shadow: 0px -1px 0px #ccc;  
  box-shadow:  0px -1px 0px #ccc;
  width: 300px;
  margin: 10px 0px;
  letter-spacing: 2px;
}

textarea {
  height: 100px;
}

form#contact label.error { 
	width: 270px;
	margin: 3px 0 0 0;
	display: block;
	color: #cf0101;                              
	font-size: 11px; 
	text-align: right;
}

input:focus, textarea:focus {
  -webkit-box-shadow: 0px 0px 5px #ccc;  
  -moz-box-shadow: 0px 0px 5px #ccc;  
  box-shadow: 0px 0px 5px #ccc; 
  border: 1px solid #ccc;
}

input#submit {
  background-color: #0099cc;
  border: 1px solid #fff;
  color: #0099cc;
  -webkit-border-radius: 5px;  
  -moz-border-radius: 5px;  
  border-radius: 5px;  
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  float: right;
  margin: 10px;
  width: 150px;
  background: #f9f9f9;
  font-weight: 900;
}

input#submit:hover {
  background: #c5eaf8;
  border: 1px solid #a8dff4;

}

legend {
  font-weight: 700;
}

/* UNUSED 

#thankyou {
  display: none;
  width: 500px;
  background-color: #c5eaf8;
  border-bottom: 1px solid #33b5e5;
  border-right: 1px solid #33b5e5;
  height: 80px;
  text-align: center;
  line-height: 75px;
  position: absolute;
  top: 0px;
  left: 0px;
}

aside {
  background-color: #ffe;
  width: 32px;
  margin-left: 10px;
  float: right;
  padding: 16px 6px 6px 6px;
  border-left: 1px solid #fa0;
  border-top: 1px solid #fa0;
  border-right: 1px solid #0099cc;
  border-bottom: 1px solid #0099cc;
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:  2px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
}

nav {
  width: 500px;
}
nav a img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0.5;
}

nav a:hover img {
  opacity: 1;
}

nav a img{
  padding: 10px;
}

nav:before{
  content: "";
  display: block;
  height: 1px;
  width: 500px;
  background:-moz-linear-gradient(left, #FFFFFF 0%,#0099cc 50%,#FFFFFF 100%);
  background:-webkit-linear-gradient(left, #FFFFFF 0%,#0099cc 50%,#FFFFFF 100%);
  background:linear-gradient(left, #FFFFFF 0%,#0099cc 50%,#FFFFFF 100%);
}
*/